<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <link href="https://fonts.googleapis.com/css?family=Jua|Reem+Kufi&display=swap" rel="stylesheet">
  <title>Hacktoberfest Vuejs Code</title>
  <!-- Load Vuejs -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div class="hacktoberfest">
    <h1 class="title">Hacktoberfest Vuejs Code</h1>
    <div id="app">
      <div class="slide">
        <div class="code-box">
          <div>
            <span class="tag">&lt;div&gt;</span>
            <div class="spaces">
              <span class="tag">&lt;h1&gt;</span><span>{{</span>
              <span>welcome_message</span>
              <span>}}</span><span class="tag">&lt;/h1&gt;</span>
              <br>
              <span class="tag">&lt;h3 </span>
              <span class="vue-code">v-bind:title=</span>
              <span class="string-code">"hover_message"</span>
              <span class="tag">&gt;</span>
              <div class="spaces">Hover your mouse over me for a few secondsto see my dynamically bound title!</div>
              <span class="tag">&lt;/h3&gt;</span>
            </div>
            <span class="tag">&lt;/div&gt;</span>
          </div>
          <div>
            <span class="tag">&lt;div&gt;</span>
            <div class="spaces">
              <span class="tag">&lt;button&nbsp;</span><span class="vue-code">v-on:click=</span><span class="string-code">"hideText"</span>
              <span class="vue-code">v-if=</span><span class="string-code">"seen"</span><span class="tag">&gt;</span><span>Hide Text</span><span class="tag">&lt;/button&gt;</span><br>
              <span class="tag">&lt;button&nbsp;</span><span class="vue-code">v-on:click=</span><span class="string-code">"hideText"</span>
              <span class="vue-code">v-else</span><span class="tag">&gt;</span><span>Show Text</span><span class="tag">&lt;/button&gt;</span><br><span class="tag">&lt;span</span>
              <span class="vue-code">v-if=</span><span class="string-code">"seen"</span><span class="tag">&gt;</span>Now you see me<span class="tag">&lt;/span&gt;</span>
            </div>
            <span class="tag">&lt;/div&gt;</span>
          </div>
          <div>
            <span class="tag">&lt;div&gt;</span>
            <div class="spaces">
              <span class="tag">&lt;p&gt;</span><span>Courses list:</span><span class="tag">&lt;/p&gt;</span><br>
              <span class="tag">&lt;ol&gt;</span>
              <div class="spaces">
                <span class="tag">&lt;li&nbsp;</span><span class="vue-code">v-for=</span><span class="string-code">"todo in todos"</span><span class="tag">&gt;</span><br>
                <div class="spaces">
                  <span>{{</span><span>&nbsp;todo.text&nbsp;</span><span>}}</span><span class="tag"><br>
                </div>
                <span class="tag">&lt;/li&gt;</span>
              </div>
              <span class="tag">&lt;/ol&gt;</span>
            </div>
            <span class="tag">&lt;/div&gt;</span>
          </div>
          <div>
            <span class="tag">&lt;div&gt;</span>
            <div class="spaces">
              <span class="tag">&lt;p&gt;</span><span>{{</span><span>&nbsp;rvsMessage&nbsp;</span><span>}}</span><span class="tag">&lt;/p&gt;</span><br>
              <span class="tag">&lt;button&nbsp;</span><span class="vue-code">v-on:click=</span><span class="string-code">"reverseMessage"</span><span class="tag">&gt;</span><span>Reverse Message</span><span class="tag">&lt;/button&gt;</span><br>
            </div>
            <span class="tag">&lt;/div&gt;</span>
          </div>
          <div>
            <span class="tag">&lt;div&gt;</span>
            <div class="spaces">
              <span class="tag">&lt;h3&gt;</span><span>{{</span><span>&nbsp;textInput&nbsp;</span><span>}}</span><span class="tag">&lt;/h3&gt;</span><br>
              <span class="tag">&lt;input&nbsp;</span><span class="vue-code">v-model=</span><span class="string-code">"textInput"</span><span class="tag">&nbsp;/&gt;</span><br>
            </div>
            <span class="tag">&lt;/div&gt;</span>
          </div>
        </div>
        <div class="view-box">
          <div>
            <h1 class="welcome-text">{{ welcome_message }}</h1>
            <h3 v-bind:title="hover_message">
              Hover your mouse over me for a few seconds
              to see my dynamically bound title!
            </h3>
          </div>
          <div>
            <button @click="hideText" class="action-btn" v-if="seen">Hide text</button>
            <button @click="hideText" class="action-btn" v-else>Show text</button>            
            <span v-if="seen" class="hide-text">Now you see me</span>
          </div>
          <div>
            <p>Courses list:</p>
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
          </div>
          <div>
            <p class="reverse-text">{{ rvsMessage }}</p>
            <button v-on:click="reverseMessage" class="action-btn">Reverse Message</button>
          </div>
          <div>
            <h3 class="text-input">{{ textInput }}</h3>
            <input v-model="textInput" class="input-model"/>
          </div>
        </div>
      </div>
      <a href="https://vuejs.org" class="link-btn" target="_blank" rel="noopener noreferrer">Vuejs Documentation</a>
    </div>      
  </div>
  <script src="./app.js"></script>
</body>
</html>
